@import 'variables';

body {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: $clouds;
  text-align: center;
  color: $midnightBlue;
  font-size: 16px;
}

#app {
  margin: 50px 0;
}

h1 {
  margin: 0;
}

button {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  margin: 5px;
}

a {
  font-size: 1em;
  color: $turquoise;
  text-decoration: none;
  transition: .3s all;

	&:hover {
		color: $greenSea;
	}
}